#supermarketTabBackground {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: -1;
}

#supermarketTabCanvas {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: 0;
}

#traffic-button-container {
  float: left;
  width : 100%;
  margin: 3% 0 0 5%;  
}

#speed-button-container {
  float: left;
  width : 100%;
  margin: 3% 0 0 5%; 
}

#supermarket-histogram {
  position: absolute;
  top : 20% ;
  left : 2%;
  width : 20%;
  height : 30%;
  margin: 3% 0 0 0%; 
}

#supermarket-line-time {
  position: absolute;
  top : 50%;
  left: 2%;
  width : 20%;
  height : 30%;
  margin: 3% 0 0 0%; 
}

#analytics-link {
  position: absolute;
  top : 90%;
  left: 95%;
  z-index: 1;
}

#indoor-button-container {
  float: left;
  width : 100%;
  margin: 3% 0 0 5%; 
}

#outdoor-button-container {
  float: left;
  width : 100%;
  margin: 3% 0 0 5%; 
}

#monitor-clear {
  float: left;
  margin: 3% 0 0 5%; 
}

#monitor-plan-container {
  float: left;
  width : 50vw;
  height : 50vh;
  position: relative;
}


#monitor-plan,
#map-div {
  position: absolute;
  top: 0vh;
  left: 10vw;
  width: 70vw;
  height: 60vh;
}


#monitor-bg {
  top: 0vh;
  left: 10vw;
	position: absolute;
  z-index: 10;
}

.warning-card-square.mdl-card {
  width: 20vw;
  height: 20vw;
  visibility: hidden;
  position: absolute;
  top : 20%;
  left: 45%;
}

.warning-card-square > .mdl-card__title {
  color: #fff;
  
  background:
    url('warning.png') bottom right 25% no-repeat #46B6AC;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

