#supermarketTabBackground {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: -1;
}

#supermarketTabCanvas {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: 0;
}

#supermarket-line-time {
  position: absolute;
  top : 50%;
  left: 2%;
  width : 20%;
  height : 30%;
  margin: 3% 0 0 0%; 
}

/*** General ***/

.supermarket-plan-container {
  position: absolute;
  top: 15vh;
  left: 5vw;
  width : 1012px;
  height : 412px;
}

.supermarket-plan,
.supermarket-canvas {
  position: absolute;
  top: 6px;
  left: 6px;
}

.supermarket-canvas {
  z-index: 1;
}

.common-button {
  position: absolute;
  top : 81vh;
  left: 96.2vw;
  z-index: 1;
}

.normal-text {
  font-size: 13px;
  padding: 0 40px;
  white-space: nowrap;
}

/*** Ad Management ***/

#ad-management_switch_container,
#ad-management_monitor_switch_container
{
	position: absolute;
  left: 75vw;
  width: 18vw;
}

#ad-management_switch_container {
  top: 4vh;
}

#ad-management_monitor_switch_container {
  top: 10vh;
}

#product-card {
  position: absolute;
  top : 15vh;
  left: 75vw;
  height: 64vh;
}

#product-card-details {
  height: 44vh;
}

#product-card > .mdl-card__title {
  color: #ccc;
  height: 20vh;
  margin: 2vh 2vw 2vh 2vw;
  background: url('./products/tide.png') no-repeat #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-card-square.mdl-card {
	background: #f8f8f8;
  width: 20vw;
  height: 20vh;
}

/*** Monitor ***/

#monitor-clear,
#monitor-ad,
#monitor-training,
#monitor-take-photo {
  position: absolute;
  top: 4vh;
  width: 8vw;
  height :4vh;
  font-size: 12px;
}

#monitor-clear {
  left: 5vw;
}

#monitor-ad {
  left: 15vw;
}

#monitor-training {
  left: 25vw;
}

#monitor-take-photo {
  left: 35vw;
}

#monitor_single_sensor_switch_container,
#monitor_hyper_sensetive_beacon_switch_container,
#monitor_publish_location_switch_container,
#monitor_adaptive_threshold_switch_container 
{
	position: absolute;
  left: 75vw;
  width: 18vw;
}

#monitor_single_sensor_switch_container {
  top: 4vh;
}

#monitor_hyper_sensetive_beacon_switch_container {
  top: 10vh;
}

#monitor_publish_location_switch_container {
  top : 16vh;
}

#monitor_adaptive_threshold_switch_container {
  top : 22vh;
}

#monitor-beacons-table-container {
  position: absolute;
  padding : 1vw;
  top : 30vh;
  left : 75vw;
  width : 18vw;
}

/*** Proximity ***/

#proximity-clear,
#proximity-update-cart {
  position: absolute;
  top: 4vh;
  width: 8vw;
  height :4vh;
  font-size: 12px;
}

#proximity-clear {
  left: 5vw;
}

#proximity-update-cart {
  left: 15vw;
}

#proximity_adaptive_threshold_switch_container
{
	position: absolute;
  left: 70vw;
  width: 18vw;
}

#proximity_adaptive_threshold_switch_container {
  top: 4vh;
}

#proximity-selected-beacon {
  position: absolute;
  top : 15vh;
  left : 67vw;
}

#proximity-slider-nearby-threshold-title {
  position: absolute;
  top : 20vh;
  left : 70vw;
}

#proximity-slider-nearby-threshold-container {
  position: absolute;
  top : 21vh;
  left : 75vw;
  width : 35 vw;
}

#proximity-slider-away-threshold-title {
  position: absolute;
  top : 23vh;
  left : 70vw;
}

#proximity-slider-away-threshold-container {
  position: absolute;
  top : 24vh;
  left : 75vw;
  width : 35vw;
}

#proximity-beacons-table-container {
  position: absolute;
  padding : 1vw;
  top : 28vh;
  left : 70vw;
  width : 25vw;
}
/*** Distance ***/

#distance-table-container {
  position: absolute;
  padding : 1vw;
  top : 30vh;
  left : 65vw;
  width : 18vw;
}

/*** Heading ***/

.warning-card-square.mdl-card {
  width: 20vw;
  height: 20vw;
  visibility: hidden;
  position: absolute;
  top : 20%;
  left: 5%;
}

.warning-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('warning.png') bottom right 25% no-repeat #46B6AC;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

